.box{
height: 319px;
}
p{
    color: rgba(255, 255, 255, 1);
    font-family: inter;
    font-size: 36px;
    font-weight: 400;
}
@font-face {
    font-family: inter;
    src: url(./Inter-Medium.ttf);
}